BasedOnStyle: LLVM
Language: Cpp
Standard: c++17
IndentWidth: 2
UseTab: Never
PointerAlignment: Left
ReferenceAlignment: Left
BinPackArguments: false
BinPackParameters: false
PackConstructorInitializers: CurrentLine
InsertBraces: true
InsertTrailingCommas: Wrapped
QualifierAlignment: Left
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveAssignments: Consecutive
AllowShortBlocksOnASingleLine: Always
AllowShortEnumsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AllowShortLambdasOnASingleLine: All
IndentAccessModifiers: false
AccessModifierOffset: -4
ColumnLimit: 120